// 提供各种常用的混合样式

.self-center(@pos: absolute) {
   // 默认参数是absolute，不传参使用默认参数，传参则使用传递的参数，如传递fixed
    position: @pos;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.self-fill(@pos: absolute) {
    position: @pos;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}